.navbar-lewagon {
  justify-content: space-between;
  background: rgb(236, 131, 10);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  border-radius: 50%;
  border: 6px, solid, black;
}

#navbar-title {
  font-family: 'Niconne', cursive;
  font-size: 60px;
  align-items: left;
}

a {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}