.navbar-lewagon {
  justify-content: space-between;
  background: rgb(236, 131, 10);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

#navbar-title {
  font-family: 'Niconne', cursive;
  justify-content: left;
}